/* Style for discounted products */
.product.discounted {
  border: 2px solid #ff5733; /* Add a border to discounted products */
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  text-align: center;
}

.product {
  background-color: #3c211c;
  border-radius: 1rem;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.card {
  padding: 2rem 1rem;
}

/* Style for the discount badge on discounted products */
.product.discounted .badge {
  background-color: #ff5733;
}

ul {
  padding: 3rem;
}

.product-image {
  background-color: #e1d5c5;
  border: 2px solid #d47c4e;
  margin: 0.5rem;
  display: inline-block;
  max-width: 80%;
}

* {
  text-align: center;
}

.product-description {
  border: 2px solid #d47c4e;
  background-color: bisque;
  margin: 1rem;
  padding: 0.5rem;
}

button {
  background-color: #e1d5c5;
  color: black;
  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #d47c4e;
  margin: 0.5rem;
  width: 7rem;
}

@media screen and (min-width: 768px) {
  /* Tablet styles: 2 products per row */
  ul {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  /* Desktop styles: 4 products per row */
  ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
